body{
    /* background-color: rgb(149, 149, 158); */
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #333;  */
    background-image: url();
    backdrop-filter: blur(3px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    -webkit-backdrop-filter: blur(3px);
    background-attachment: fixed;
    position: relative;
    background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url('images/2.jpg');
}
*{
    color: white;
}
.mainContainer{
    /* background-color: rgb(185, 184, 184); */
    width: 40%;
    display: flex;
    flex-direction: column;
    min-height: 300px;
    height: 50%;
    margin: 100px auto 0 auto;
    position: relative;
}
.mainContainer input{
    width: 80%;
    margin: 0 auto;
    background-color: transparent;
    border: none;
    border-radius: 11px;
    text-align: center;
    outline: none;
}
.mainContainer button{
    width: 60px;
    margin: 12px auto 0 auto;
    background-color: transparent;
    /* border: 1px transparent; */
    transition: .4s ease-in-out;
    /* background-color: royalblue; */
    outline: none;
    border: none;
    border-radius: 7px;
    box-shadow: 0px 0px 7px 1px;
}
.mainContainer button:hover{
background-color: rgb(149, 149, 158);
box-shadow: 0px 0px 7px 0px;
color: white;
}
.mainContainer h2{
line-height: .1;
text-align: center;
}
.allLists{
line-height: .5;
margin: 12px auto 0 auto;
width:100%;
font-size: 16px;
}
.paraWithIcon{
    background: linear-gradient(45deg, rgb(78, 78, 78), transparent);
    top: bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100% ;
}
::-webkit-scrollbar{
display: none;
}
.paraWithIcon p{
    padding: 7px 0 7px 50px;
font-size: 17px;
/* background-color: rgba(0, 0, 0, 0.4); */
width: 100%;
color: white;
    margin: -1px;
    border-bottom: 1px solid #b1035b;
}
.paraWithIcon p span:nth-child(2){
    position: absolute;
    left: 20px;
    cursor: pointer;
    transition: 1s ease-in-out;
}
.paraWithIcon p span:nth-child(1){
    cursor: pointer;
    position: absolute;
    right: 15px;
    padding: 0px 7px 1px 7px;
    font-size: 25px;
    color: #c30707;
    font-weight: 550;
    z-index: 9999999;
}
.showErr{
    position: absolute;
    width: 100%;
    top: 50%;
    transition: 1s ease-in-out;
    z-index: 0;
}
.showErr p{
  text-align: center;
  font-size: 20px;
  color: rgb(255, 0, 0);
}
.checked{
 text-decoration:line-through;
 background-color: green;
}
input::placeholder, textarea::placeholder {
    color: #d1a1a1;
}




/* Responsiveness */
@media(max-width:1000px){
    .mainContainer{
        width: 85%;
    }
    .paraWithIcon p span:nth-child(1){
        right: 1px;
    }
    .paraWithIcon p{
        padding: 7px 0 7px 50px;
        line-height: 1;
    }
}
@media(max-width:600px){
    .paraWithIcon p{
        padding: 7px 0 7px 27px;
        width: 85%;
        border-right: none;
        border-left: none;
    }
    .paraWithIcon p span:nth-child(2) {
        left: 3px;
        
    }
    .paraWithIcon p span:nth-child(1) {
        right: 7px;
        padding:0;
        font-size: 24px;
        font-weight: 500;
        margin-top: -6px;
    }
    
}
@media(max-width:321px){
    .paraWithIcon p{
        width: 73%;
    }
}